/*...Global...*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-image: url(images/backgroundimage.png);
    }
h1, h2, h3 {
    color: #006699;
    font-family: 'Montserrat', sans-serif;
    }
header { 
    text-align: center;
    }

#menubar a {
    color: #fff;
    font: sans-serif;
    font-size: 20px;
    padding: 30px
    }
#sitecontent
    { 
    width: 849px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 10px 24px 100px 37px;
    background: url(images/background.png);
    }
footer
    { 
    width: 910px;
    font: normal 100% 'arial', sans-serif;
    height: 45px;
    padding: 28px 0 5px 0;
    text-align: center; 
    background: url(images/menubar.png) repeat;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: auto;
    }
#brand {
    font: normal 300% sans-serif;
    border-bottom: 0px;
    text-transform: none;
    margin: 20px;
    padding: 25px 0 0 0;
    color: #B22222;
    letter-spacing: 0.1em;
    text-decoration: none;
    }

.aboutimage {
    border-radius: 3px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 250px;
    float: left;
    margin: 0;
    }
ul {
    list-style: none;
    }   
           
.hello {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #006699;
    display: flex;
    text-align: center;
    padding-top: 200px;

}